# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual Environment
venv/
.env/
*.env

# PyInstaller
*.spec
build/
dist/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
co
